<form method="post" action="{{ path('app_admin_pen_delete', {'id': pen.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pen.id) }}">
    <button class="btn btn-outline-danger">Delete</button>
</form>
